---
import Dashboard from "@/layouts/Dashboard.astro";
import StepsBar from "@ui/StepsBar";
import Select from "@ui/Select";
import TicketParts from "@ui/TicketParts";
import Calendar from "@/components/ui/Calendar";

const steps = ["Info. Reclamo", "Soportes"];

const items = [
    {
        key: "value1",
        value: "1",
    },
    {
        key: "value2",
        value: "2",
    },
    {
        key: "value3",
        value: "3",
    },
];
---

<Dashboard>
    <div class="flex flex-col gap-2">
        <h1 class="font-bold text-2xl text-text">
            Bienvenida, Daniela Latorre
        </h1>
        <p class="text-sm text-text2">
            Esta es la información que tenemos para mostrarte
        </p>

        <StepsBar client:only steps={steps} currentStep={0} />

        <div class="bg-white rounded-[14px] p-5 space-y-5">
            <h3 class="text-xl text-text font-bold">
                Formulario novedades / reclamos
            </h3>
            <div class="space-y-4">
                <h4 class="text-secn-blue font-bold">
                    Prealerta del concesionario
                </h4>
                <div class="grid grid-cols-3 gap-4">
                    <div class="flex flex-col gap-1">
                        <label class="text-[#2F3036] text-xs font-semibold"
                            >Cliente</label
                        >
                        <Select client:visible items={items} />
                    </div>
                    <div class="flex flex-col gap-1">
                        <label class="text-[#2F3036] text-xs font-semibold"
                            >Código concesionario</label
                        >
                        <input
                            class="h-10 border border-[#DEE5ED] rounded-lg px-3 py-[10px] outline-secn-blue"
                            type="text"
                            name=""
                            id=""
                        />
                    </div>
                    <div class="flex flex-col gap-1">
                        <label class="text-[#2F3036] text-xs font-semibold"
                            >Catálogo</label
                        >
                        <input
                            class="h-10 border border-[#DEE5ED] rounded-lg px-3 py-[10px] outline-secn-blue"
                            type="text"
                            name=""
                            id=""
                        />
                    </div>
                    <div class="flex flex-col gap-1">
                        <label class="text-[#2F3036] text-xs font-semibold"
                            >Ocurrencia Novedad</label
                        >
                        <Calendar client:only />
                    </div>
                    <div class="flex flex-col gap-1">
                        <label class="text-[#2F3036] text-xs font-semibold"
                            >Entrega Vehículo</label
                        >
                        <Calendar client:only />
                    </div>
                    <div class="flex flex-col gap-1">
                        <label class="text-[#2F3036] text-xs font-semibold"
                            >Pre-alerta</label
                        >
                        <Calendar client:only />
                    </div>
                    <div class="flex flex-col gap-1">
                        <label class="text-[#2F3036] text-xs font-semibold"
                            >Persona de contacto</label
                        >
                        <input
                            class="h-10 border border-[#DEE5ED] rounded-lg px-3 py-[10px] outline-secn-blue"
                            type="text"
                            name=""
                            id=""
                        />
                    </div>
                    <div class="flex flex-col gap-1">
                        <label class="text-[#2F3036] text-xs font-semibold"
                            >E-mail</label
                        >
                        <input
                            class="h-10 border border-[#DEE5ED] rounded-lg px-3 py-[10px] outline-secn-blue"
                            type="text"
                            name=""
                            id=""
                        />
                    </div>
                    <div class="flex flex-col gap-1">
                        <label class="text-[#2F3036] text-xs font-semibold"
                            >Teléfono</label
                        >
                        <input
                            class="h-10 border border-[#DEE5ED] rounded-lg px-3 py-[10px] outline-secn-blue"
                            type="text"
                            name=""
                            id=""
                        />
                    </div>
                </div>
            </div>

            <div class="space-y-4">
                <h4 class="text-secn-blue font-bold">Datos del reclamo</h4>
                <div class="grid grid-cols-3 gap-4">
                    <div class="flex flex-col gap-1">
                        <label class="text-[#2F3036] text-xs font-semibold"
                            >Concesionario</label
                        >
                        <Select client:visible items={items} />
                    </div>
                    <div class="flex flex-col gap-1">
                        <label class="text-[#2F3036] text-xs font-semibold"
                            >Vehículo</label
                        >
                        <Select client:visible items={items} />
                    </div>

                    <div class="flex flex-col gap-1">
                        <label class="text-[#2F3036] text-xs font-semibold"
                            >Serie</label
                        >
                        <input
                            class="h-10 border border-[#DEE5ED] rounded-lg px-3 py-[10px] outline-secn-blue"
                            type="text"
                            name=""
                            id=""
                        />
                    </div>

                    <div class="flex flex-col gap-1">
                        <label class="text-[#2F3036] text-xs font-semibold"
                            >Número DUA</label
                        >
                        <input
                            class="h-10 border border-[#DEE5ED] rounded-lg px-3 py-[10px] outline-secn-blue"
                            type="text"
                            name=""
                            id=""
                        />
                    </div>

                    <div class="flex flex-col gap-1">
                        <label class="text-[#2F3036] text-xs font-semibold"
                            >Número remesa</label
                        >
                        <input
                            class="h-10 border border-[#DEE5ED] rounded-lg px-3 py-[10px] outline-secn-blue"
                            type="text"
                            name=""
                            id=""
                        />
                    </div>
                </div>
            </div>

            <div class="space-y-4">
                <h4 class="text-secn-blue font-bold">Conductor</h4>
                <div class="grid grid-cols-3 gap-4">
                    <div class="flex flex-col gap-1">
                        <label class="text-[#2F3036] text-xs font-semibold"
                            >Nombre completo</label
                        >
                        <input
                            class="h-10 border border-[#DEE5ED] rounded-lg px-3 py-[10px] outline-secn-blue"
                            type="text"
                            name=""
                            id=""
                        />
                    </div>
                    <div class="flex flex-col gap-1">
                        <label class="text-[#2F3036] text-xs font-semibold"
                            >Placa</label
                        >
                        <input
                            class="h-10 border border-[#DEE5ED] rounded-lg px-3 py-[10px] outline-secn-blue"
                            type="text"
                            name=""
                            id=""
                        />
                    </div>
                </div>
            </div>

            <TicketParts client:visible />

            <div class="flex justify-end mt-5">
                <a
                    class="flex items-center px-14 bg-tirth rounded-lg text-white h-10 cursor-pointer"
                    href="tickets/supports">Guardar / siguiente</a
                >
            </div>
        </div>
    </div>
</Dashboard>
