---
import Dashboard from "@layouts/Dashboard.astro";
import FileUpload from "@ui/FileUpload";
import InfoCircleInfo from "@ui/icons/InfoCircleIcon";
import Table from "@ui/Table";
import InputTag from "@ui/InputTag";
import StepsBar from "@ui/StepsBar";
import Calendar from "@ui/Calendar";
import AnglesIcon from "@/components/ui/icons/AnglesIcon";

const steps = ["Info. Reclamo", "Soportes"];

const items = [
    {
        key: "value1",
        value: "1",
    },
    {
        key: "value2",
        value: "2",
    },
    {
        key: "value3",
        value: "3",
    },
];

const emails = [
    "correo1@promotec.com.co",
    "correo2@promotec.com.co",
    "correo3@promotec.com.co",
    "correo4@promotec.com.co",
];
---

<Dashboard>
    <div class="flex flex-col gap-2">
        <h1 class="font-bold text-2xl text-text">
            Bienvenida, Daniela Latorre
        </h1>
        <p class="text-sm text-text2">
            Esta es la información que tenemos para mostrarte
        </p>
        <StepsBar client:only steps={steps} currentStep={1} />
        <div class="bg-white rounded-[14px] p-5 space-y-5">
            <h3 class="text-xl text-text font-bold">
                Formulario novedades / reclamos
            </h3>
            <div class="space-y-[10px]">
                <h4 class="text-secn-blue font-bold">Documentos soportes</h4>
                <div class="flex flex-col gap-8">
                    <div
                        class="p-5 bg-[#F0F2F9] rounded-[14px] flex gap-[10px] items-center"
                    >
                        <InfoCircleInfo className="text-text2 size-5" />
                        <p class="text-text2 text-xs">
                            Tener en cuenta que los documentos mínimos
                            requeridos para proceder con el reclamo son: <b
                                >DUA / Remesa / Consulta de partes Ford /
                                Registro fotográfico / Factura de venta</b
                            >
                        </p>
                    </div>
                    <FileUpload client:only />
                    <div
                        class="p-5 rounded-[10px] border border-princ-blue space-y-3"
                    >
                        <h4 class="font-semibold">Registro de piezas</h4>
                        <div class="">
                            <Table />
                        </div>
                    </div>
                </div>
            </div>

            <div class="space-y-4">
                <h4 class="text-secn-blue font-bold">VoBo. Reclamado</h4>
                <div class="grid grid-cols-3 gap-4">
                    <div class="flex flex-col gap-1">
                        <label class="text-[#2F3036] text-xs font-semibold"
                            >Aviso transportador</label
                        >
                        <Calendar client:only />
                    </div>
                    <div class="flex flex-col gap-1">
                        <label class="text-[#2F3036] text-xs font-semibold"
                            >Respuesta transportador</label
                        >
                        <Calendar client:only />
                    </div>
                    <div class="flex flex-col gap-1">
                        <label class="text-[#2F3036] text-xs font-semibold"
                            >Solicitud factura concesionario</label
                        >
                        <Calendar client:only />
                    </div>
                </div>
            </div>

            <div class="space-y-4">
                <h4 class="text-secn-blue font-bold">Factura concesionario</h4>
                <div class="grid grid-cols-3 gap-4">
                    <div class="flex flex-col gap-1">
                        <label class="text-[#2F3036] text-xs font-semibold"
                            >Recibo factura</label
                        >
                        <input
                            class="h-10 border border-[#DEE5ED] rounded-lg px-3 py-[10px] outline-secn-blue"
                            type="text"
                            name=""
                            id=""
                        />
                    </div>
                    <div class="flex flex-col gap-1">
                        <label class="text-[#2F3036] text-xs font-semibold"
                            >Número factura</label
                        >
                        <input
                            class="h-10 border border-[#DEE5ED] rounded-lg px-3 py-[10px] outline-secn-blue"
                            type="text"
                            name=""
                            id=""
                        />
                    </div>
                    <div class="flex flex-col gap-1">
                        <label class="text-[#2F3036] text-xs font-semibold"
                            >Vr. Factura</label
                        >
                        <input
                            class="h-10 border border-[#DEE5ED] rounded-lg px-3 py-[10px] outline-secn-blue"
                            type="text"
                            name=""
                            id=""
                        />
                    </div>
                    <div class="flex flex-col gap-1">
                        <label class="text-[#2F3036] text-xs font-semibold"
                            >Valor reclamo</label
                        >
                        <input
                            class="h-10 border border-[#DEE5ED] rounded-lg px-3 py-[10px] outline-secn-blue"
                            type="text"
                            name=""
                            id=""
                        />
                    </div>
                    <div class="flex flex-col gap-1">
                        <label class="text-[#2F3036] text-xs font-semibold"
                            >Valor primer tramo</label
                        >
                        <input
                            class="h-10 border border-[#DEE5ED] rounded-lg px-3 py-[10px] outline-secn-blue"
                            type="text"
                            name=""
                            id=""
                        />
                    </div>
                </div>
            </div>

            <div class="p-5 bg-gray1 rounded-[10px] space-y-5">
                <h4 class="text-text text-xl font-bold">
                    Enviar comentario de reclamación
                </h4>
                <div class="space-y-4">
                    <h5 class="text-secn-blue font-bold">
                        Información de la reclamación
                    </h5>
                    <div class="flex flex-col gap-1">
                        <label class="font-semibold text-xs" for=""
                            >Correo electrónico de quien recibirá reclamación</label
                        >
                        <InputTag emails={emails} client:only />
                    </div>
                    <div class="flex flex-col gap-1">
                        <label class="font-semibold text-xs" for=""
                            >Comentario</label
                        >
                        <div class="relative">
                            <AnglesIcon
                                className="absolute left-0 top-0 mt-3 ml-3 text-[#7C93B5] pointer-events-none"
                            />
                            <textarea
                                class="w-full px-8 py-[10px] rounded-lg outline-none bg-white border border-[#DEE5ED] min-h-24 text-sm text-[#7C93B5]"
                                placeholder="Escriba reclamación aquí"
                                name=""
                                id=""></textarea>
                            <AnglesIcon
                                className="absolute right-0 top-0 mt-3 mr-3 text-[#7C93B5] pointer-events-none"
                            />
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex justify-end mt-5">
                <div class="flex gap-4">
                    <a
                        class="flex items-center px-14 border border-tirth rounded-lg text-tirth h-10 cursor-pointer"
                        href="../tickets">Atras</a
                    >
                    <button
                        class="flex items-center px-14 bg-tirth rounded-lg text-white h-10 cursor-pointer"
                        >Crear</button
                    >
                </div>
            </div>
        </div>
    </div>
</Dashboard>
