@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-princ-blue: #D5E4F6;
  --color-secn-blue: #345BB0;
  --color-tirth: #FF9302;
  --color-text: #041C3C;
  --color-text1: #466DA0;
  --color-text2: #6C8EBA;
  --color-text3: #A1A2A1;
  --color-text4: #4D4D4D;
  --color-white2: #F4F4F4;
  --color-gray1: #F0F2F9;
  --color-gray2: #EFEFEF;
  --color-green: #45A245;
  --color-green-100: #E4F5E3;
  --color-red: #ED2D15;
  --color-red-100: #FFE2DF;
  --font-sans: "Inter", system-ui, sans-serif;
  --animate-scale-up: scaleUp 0.2s ease-in-out;
  --animate-scale-down: scaleDown 0.2s ease-in-out;
  --animate-flash: flash 0.5s ease-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #DEE5ED;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background: #A0AEC0;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #7C93B5;
  }

  ::-webkit-scrollbar-corner {
    background: #DEE5ED;
  }

  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear {
    display: none;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

}

@utility scroll-hidden {

  & {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleDown {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0.8);
    opacity: 0;
  }
}

@keyframes flash {
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
