---
import Dashboard from "@/layouts/Dashboard.astro";
import SearchCriteria from "@/ui/SearchCriteria";
---

<Dashboard>
    <div class="space-y-5">
        <div class="space-y-2">
            <h1 class="font-semibold text-2xl text-text">Informes</h1>
            <p class="text-sm text-text2">
                Información consolidada para exportar
            </p>
        </div>

        <SearchCriteria client:visible />
    </div>
</Dashboard>
